<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
  {{>navbar}}
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-mid-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-12 main_header_right">
            <figure>
              <img src="photoExpress/bg.png" alt="Ishita" class="img-fluid"title="Ishita Anand">
            </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
            <h1>I am a <span>WEb developr</span> and a coderr</h1>
            <a href="https://en.wikipedia.org/wiki/Foodie"target="_ishita"> <button>About</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
{{>footer}}
</body>
</html>